*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.main {
    width: 100%;
}
.btn {
    margin-left: 15px;
    margin-top: 15px;
    height: 39px;
    width: 39px;
    cursor: pointer;
    position: absolute;
    left: 493px;
    top: 20px;
    color: grey;
}
.cart{
    box-shadow: 0 5px 5px 5px gray;
    display: inline-block;
    position: absolute;
    left: 177px;
    top: 82px;    
    width: 365px;
}

#items{
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 350px;
    display: list-item;

}
#mini ul {
    list-style-type: none;
}
#mini{
    display: none;
    overflow: auto;
}
.btn-cart1{
    width: 47%;
    text-align: center;
    text-decoration: none;
    float: left;
    padding: 7px 8px 5px 8px;
    color: black;
    background-color: rgb(250, 250, 250);
    cursor: pointer;

}
.btn-cart2{
    width: 47%;
    background-color: rgb(121, 173, 54);
    text-align: center;
    float: right;
    padding: 7px 8px 5px 8px;
    color: white;
    cursor: pointer;
}

.buttons{
    width: 90%;
    height: 40px;
    display: inline-flex;
    justify-content: space-between;
    margin: 10px 10px 10px 18px;
}
.up, .down{
    width: 90%;
    height: 34px;
    cursor: pointer;
    background-color: rgb(253, 253, 253);
    border: 1px solid rgb(206, 200, 200);
    margin-top: 4px;
}
#up, #down{
    display: block;
    text-align: center;
}
.up i, .down i{
    align-self: center;
    justify-self: center;
    color:  rgb(187, 179, 179) ;
}
.item1,.item2 , .item3, .item4 , .item5{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    padding: 5px 0 5px 0;
    height: 110px;
    margin-top: 5px;
}
.brandicolor{
    color: gray;
    font-size: 13px;
}
.name, .price{
    font-size: 14px;
    line-height: 1.5rem;
}
.description{
    display: block;
    justify-self: left;
    align-self: center;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 1.2rem;
}
.title{
    margin-left: 18px;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px; 
}

.item2::before, .item3::before{
    content: "";
    background: rgb(167, 165, 165);
    position: absolute;
    left: 20px;
    height: 0.5px;
    width: 90%;
}

.item1 img, .item2 img,.item3 img, .item4 img,.item5 img {
    justify-self: center;
    align-self: center;
    margin-top: 10px;
}
